@import "mixins.scss";

body {
  @include rdnt-cero;
  overflow-x: hidden;
  background-color: lighten(gray, 40%);
  .rdnt-wrapper-page {
    background: white;
    @media #{$xxl}{
      max-width: 1600px;
      margin: 0 auto;
      display: block;
      position: relative;
    }
  }
}

nav.rdnt-menu-nav {
  width: 100%;
  height: 48px;
  background-color: $color-1;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 99999;
  @media #{$md} {
    padding-right: 0px;
    height: 52px;
  }
  .rdnt-logo {
    width: 200px;
    height: auto;
    top: 0px;
    left: 20px;
    position: absolute;
    cursor: pointer;
    @media #{$md} {
      width: 150px;
    }
    @media #{$sm}{
      width: 100px;
      z-index: 12;
      left: 10px;
    }
  }
  .rdnt-mobile-trigger{
    width: 45px;
    height: 45px;
    background-color: white;
    color: $color-6;
    font-size: 32px;
    @include rdnt-flex-row;
    cursor: pointer;
    right: 5px;
    top: 2px;
    position: fixed;
    border-radius: 52px;
    display: none;
    @media #{$sm}{
      display: flex;
    }
    i {
      cursor: pointer;
      @include rdnt-animate;
      &.active {
        transform: rotate(90deg);
      }
    }
  }
  // START MENU 
  ul.rdnt-menu {
    @include rdnt-flex-row;
    justify-content: flex-start;
    @include rdnt-clean-list;
    @include rdnt-cero;
    margin-left: 220px;
    @include rdnt-animate;
    @media #{$md} {
      margin-left: 170px;
    }
    @media #{$sm}{
      margin-left: 0px; 
      flex-direction: column;
      background-color: $white;
      position: fixed;
      top: 52px;
      left: 0px;
      z-index: 10px;
      width: 100vw;
      height: auto;
      overflow: hidden;
    }
    &.display {
      @media #{$sm}{
        height: 0px;
      }
    }
    li.rdnt-menu-li {
      @include rdnt-clean-list;
      @include rdnt-cero;
      display: flex;
      padding-right: 10px;
      padding-left: 10px;
      cursor: pointer;
      @include rdnt-animate;
      border-right: 1px solid rgba($white, 0.25);
      &:last-of-type{
        padding-right: 0px;
        border-right: 0;
      }
      &:first-of-type{
        padding-left: 0px;
        @media #{$sm}{
          border-top: 0px;
        }
      }
      @media #{$sm}{
        width: 100%;
        margin: 0px;
        padding: 0px;
        height: 32px;
        border-top: 1px solid rgba($color-6, 0.25);
      }
      a {
        @include rdnt-clean-ahref;
        display: flex;
        font: {
          family: 'Lato', sans-serif;
          size: 15px;
          weight: 600;
          style: italic;
        }
        color: $white;
        text-decoration: none;
        &:focus, &:active, &:visited, &:hover{
          color: $white;
          text-decoration: none;
        }
        @media #{$md} {
          font-size: 13px;
        }
        @media #{$sm}{
          color: $color-6!important;
          text-align: center;
          width: 100%;
          justify-content: center;
          align-content: center;
          align-items: center;
        }
      }
      &.active {
        text-decoration: underline;
        position: relative;
        @media #{$sm}{
          background-color: $color-6;
          a {
            color: $white!important;
          }
        }
        .rdnt-caret {
          display: inline-block;
          @media #{$sm}{
            display: none;
          }
        }
      }
      .rdnt-caret {
        display: none;
        width: 0; 
        height: 0; 
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid $color-1;
        position: absolute;
        bottom: -24px;
        left: calc(50% - 15px);
        z-index: 99999;
      } 
    }
  }
  // END MENU
  span.rdnt-open {
    @include rdnt-flex-row;
    height: 48px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: $color-2;
    font: {
      family: 'Barlow', sans-serif;
      size: 21px;
      weight: 300;
    }
    letter-spacing: -1.5px;
    color: $white;
    border-bottom: 3px dashed $white;
    @media #{$md} {
      font-size: 13px;
      padding-left: 5px;
      padding-right: 5px;
      text-align:center;
      max-width: 140px;
    }
    @media #{$sm}{
      position: absolute;
      right: 55px;
      top: 0px;
      font-size: 14px;
      max-width: auto;
      width: auto;
      background-color:transparent;
      border-bottom: 0;
      letter-spacing: -0.5px;
    }
  }
}
.rdnt-reservation {
  z-index: 99999;
  @include rdnt-flex-row;
  flex-wrap: wrap;
  background-color: $color-3;
  position: fixed;
  border: 0;
  padding: 5px 10px 5px 10px;
  font: {
    family: 'Lato', sans-serif;
    size: 24px;
    weight: 800;
  }
  color: $white;
  width: 242.33px;
  right: 20px;
  top: 48px;
  border-radius: 0px 0px 10px 10px;
  cursor: pointer;
  @media #{$md} {
    border-radius: 0px 0px 0px 10px;
    right: 0px;
    font-size: 12px;
    width: 123px;
  }
  @media #{$sm}{
    right: 200px;
    top: 0px;
    height: 41px;
    border-radius: 0px;
    font-size: 0px;
    justify-content: flex-start;
    &:after {
      content: "Agendar hora";
      color: $white;
      font-size: 13px;
      position: absolute;
      top: 10px;
      left: 40px;
    }
  }
  @media #{$xs}{
    top: 62px;
    right: 0px;
    border-radius: 10px 0px 0px 10px;
  }
  .rdnt-reservation-new {
    @include rdnt-flex-row;
  }
  span.rdnt-icon {
    @include rdnt-flex-row;
    color: $color-3;
    background-color: $white;
    width: 48px;
    height: 48px;
    border-radius: 48px;
    font-size: 32px;
    margin-right: 10px;
    @media #{$md} { 
      width: 24px;
      height: 24px;
      border-radius: 24px;
      font-size: 16px;
    }
    @media #{$sm}{
      margin-top: 5px;
    }
  }
  span.rdnt-text {
    border-top: 1px solid rgba($white, 0.25);
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    width: 100%;
    height: 0px;
    overflow: hidden; 
    font: {
      size: 14px;
      weight: 400;
    }
    font-size: 0px;
    text-align: center;
    color: $color-3;
    a {
      color: $color-3;
      text-decoration: underline;
    }
    @media #{$sm}{
      margin-top: 5px;
    }
  }
}

//HOME

section.rdnt-home {
  position: relative;
  width: 100%;
  height: calc(500px - 48px);
  margin-top: 48px;
  position: relative;
  z-index: 0;
  ul.rdnt-banner-home-ul {
    height: calc(500px - 48px);
    li.rdnt-banner-home-li {
      height: 100%;  
      &:nth-of-type(1){
        background: {
          //image: url("../common/assets/img/banner-1.jpg");
          size: cover;
          position: 25% 70%;
          repeat: no-repeat;
        }
      }
      &:nth-of-type(2){
        background: {
          //image: url("../common/assets/img/banner-4.jpg");
          size: cover;
          position: top;
          repeat: no-repeat;
        }
      }
      &:nth-of-type(3){
        background: {
          //image: url("../common/assets/img/banner-5.jpg");
          size: cover;
          position: top;
          repeat: no-repeat;
        }
      }
    }
  }
  .unslider-nav {
    position: absolute;
    right: 20px;
    z-index: 11;
    bottom: calc(50% - 70px);
    transform: rotate(90deg);
    ol {
      @include rdnt-flex-row;
      li {
        font-size: 0px;
        width: 20px;
        height: 20px;
        border-radius: 20px;
        margin-right: 5px;
        background-color: $white;
        &:last-of-type {
          margin-right: 0;
        }
        &.unslider-active {
          background-color: $color-2;
        }
      }
    }
  }
  .unslider-arrow {
    display: none;
    &.prev {

    }
    &.next {

    }
  }
  article.rdnt-banner-caption {
    background: -moz-linear-gradient(left,  rgba(255,255,255,0.1) 0%, rgba(255,255,255,1) 1%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0.1) 0%,rgba(255,255,255,1) 1%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to right,  rgba(255,255,255,0.1) 0%,rgba(255,255,255,1) 1%,rgba(255,255,255,0) 100%);
    width: 400px;
    height: auto;
    padding: 10px 10px 10px 20px;
    position: absolute;
    bottom: 80px;
    left: 0px;
    @media #{$xs}{
      width: 100%;
      box-sizing: border-box;
    }
    > p {
      font-family: 'Lato', sans-serif!important;
      color: $black;
      font: {
        size: 16px;
        family: 'Lato', sans-serif;
        weight: 400;
      }
      margin-bottom: 10px;
    }
    h4.rdnt-banner-h4{
      color: $black;
      font: {
        size: 26px;
        family: 'Barlow', sans-serif;
        weight: 400;
      }
      margin-bottom: 5px;
      letter-spacing: -1.5px;
    }
    p.rdnt-banner-p {
      color: $black;
      font: {
        size: 16px;
        family: 'Lato', sans-serif;
        weight: 400;
      }
      margin-bottom: 10px;
      > p {
        font-family: 'Lato', sans-serif!important;
      }
    }
    button.rdnt-banner-button {
      @include rdnt-flex-row;
      background-color: $color-1;
      color: $white;
      font: {
        family: 'Lato', sans-serif;
        size: 18px;
        weight:  600;
      }
      border: 0;
      border-radius: 50px;
      padding: 5px 10px 5px 10px;
    }
  }
  .rdnt-showcase-directions {
    width: 100%;
    @include rdnt-flex-row;
    align-items: flex-start;
    height: 200px;
    position: relative;
    @media #{$xs}{
      flex-direction: column;
      height: auto;
    }
    .rdnt-direction-wrapper {
      display: block;
      max-width: 350px;
      margin: 0 auto;
      @media #{$xs}{
        max-width: auto;
        @include rdnt-flex-row;
      }
      .flex-row.start {
        @media #{$sm}{
          flex-direction: column;
          justify-content: flex-start;
        }
        @media #{$xs}{
          flex-direction: row;
        }
      }
    }
    article.rdnt-direction {
      width: 100%;
      box-sizing: border-box;
      padding: 10px 20px 10px 20px;
      @media #{$md}{
        padding: 5px 10px 5px 10px;
      }
      @media #{$sm}{
        padding: 5px 5px 10px 5px;
        border: 0!important;
      }
      &:nth-of-type(1) {
        background-color: $color-4;
        border-right: 2px solid $white;
      }
      &:nth-of-type(2) {
        background-color: $color-5;
        border-left: 2px solid $white;
        border-right: 2px solid $white;
      }
      &:nth-of-type(3) {
        background-color: $color-6;
        border-left: 2px solid $white;
      }
      color: $white;
      h3.rdnt-directions-h3 {
        font: {
          family: 'Barlow', sans-serif;
          size: 24px;
          weight: 300;
        }
        letter-spacing: -1.5px;
        margin-bottom: 0px;
        text: {
          align: left;
          transform: capitalize;
        }
        @media #{$md}{
          font-size: 21px;
        }
        @media #{$sm}{
          font-size: 18px;
          display: inline-block;
        }
        @media #{$xs}{
          font-size: 14px;
          width: 100px;
        }
      }
      span.rdnt-directions-span {
        margin-right: 20px;
        font: {
          family: 'Lato', sans-serif;
          size: 16px;
          weight: 600;
        }
        @media #{$md}{
          font-size: 14px;
        }
        @media #{$sm}{
          font-size: 13px;
          width:100%;
          text-align: left;
          margin-right: 0px;
        }
        @media #{$xs}{
          font-size: 10px;
          font-weight: 400;
          width: 70px;
        }
        svg {
          height: 16px;
          @media #{$sm}{
            height: 14px;
          }
          @media #{$xs}{
            height: 0px;
          }
        }
        span {
          margin-left: 5px;
          a {
            color: $white;
            &:hover, &:focus, &:visited {
              color: $white;
            }
          }
        }
        &:last-of-type {
          margin-right: 0;
        }
      }
      a {
        color: inherit;
        text-decoration: none;
        cursor: pointer;
        &:hover, &:focus, &:visited {
          color: inherit;
          text-decoration: underline
        }
      }
      p.rdnt-directions-p {
        margin-top: 5px;
        font: {
          family: 'Lato', sans-serif;
          size: 13px;
          weight: 300;
        }
        @media #{$md}{
          font-size: 14px;
        }
        @media #{$sm}{
          font-size: 12px;
        }
        @media #{$xs}{
          font-size: 10px;
          width: 100px;
        }
      }
    }
  }
}

// PROMOTIONS
section.rdnt-promotions {
  position: relative;
  @media #{$xs}{
    margin-top: 149px;
  }
  h3.rdnt-h3 {
    @include rdnt-flex-row;
    height: 48px;
    background-color: $color-2;
    color: $white;
    font: {
      family: 'Lato', sans-serif;
      size: 16px;
      weight: 400;
    }
    text-align: center;
    @media #{$sm} {
      flex-direction: column;
    }
    > span {
      font-weight: 600;
      @media #{$sm} {
        display: block;
        width: 100%;
        text-align: center;
      }
    } 
  }
  .rdnt-banner-promo-slider {
    height: 650px;
    ul.rdnt-banner-promo-slider-ul {
      li.rdnt-banner-promo-slider-li {
        &:nth-of-type(1){
          .rdnt-banner-photo, .rdnt-banner-promo{
            //background-image: url("../common/assets/img/banner-2.jpg");
          }
        } 
        &:nth-of-type(2){
          .rdnt-banner-photo, .rdnt-banner-promo{
            //background-image: url("../common/assets/img/banner-3.jpg");
          }
          .rdnt-banner-photo {
            background-position: left center !important;
          }
        }
        &:nth-of-type(3){
          .rdnt-banner-photo, .rdnt-banner-promo{
            //background-image: url("../common/assets/img/banner-6.jpg");
          }
          .rdnt-banner-photo {
            background-position: top !important;
            background-size: contain !important;
          }
        }
      }
    }
  }
  .unslider-nav {
    position: absolute;
    top: 70px;
    z-index: 11;
    left: calc(50% - 70px);
    @media #{$xs}{
      left: calc(50% - 35px);
      top: 90px;
    }
    ol {
      @include rdnt-flex-row;
      li {
        font-size: 0px;
        width: 20px;
        height: 20px;
        border-radius: 20px;
        margin-right: 5px;
        background-color: $white;
        &:last-of-type {
          margin-right: 0;
        }
        &.unslider-active {
          background-color: $color-2;
        }
      }
    }
  }
  .unslider-arrow {
    display: none;
  }
  .rdnt-banner-promo {
    height: 650px;
    background: {
      color: rgba($white, 0.5);
      size: cover;
      position: center;
      repeat: no-repeat;
      blend-mode: screen; 
    }
    @media #{$sm}{
      background-blend-mode: none!important;
    }
    .rdnt-banner-photo-wrapper {
      display: block;
      width: 400px;
      max-width: 400px;
      overflow: hidden;
      height: 100%;
      margin: 0 auto;
      position: relative;
      .rdnt-banner-photo {
        width: 100vw;
        height: 650px;
        position: absolute;
        top: 0px;
        right: calc(50% - 600px);
        background: {
          size: cover;
          position: center bottom;
          repeat: no-repeat;
        }
        @media #{$md}{
          right: calc(50% - 570px);
        }
        @media #{$sm}{
          background: none!important;
        }
      }
      article.rdnt-banner-promo-art {
        position: absolute;
        left: calc(50% - 200px);
        top: 0px;
        z-index: 2;
        width: 400px;
        height: 650px;
        background: {
          image: url("../common/assets/img/square.svg");
          size: cover;
          position: center;
          repeat: no-repeat;
        }
        @media #{$sm}{
          background-image: none;
        }
        @media #{$xs}{
          width: 100vw;
          left: 0px;
        }
        @include rdnt-flex-col;
        padding-top: 440px;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
        h2.rdnt-banner-promo-h2 {
          display: block;
          text-align: center;
          color: white;
          font: {
            family: 'Barlow', sans-serif;
            size: 28px;
            weight: 200;
          }
          letter-spacing: -1.5px;
          margin-bottom: 0px;
          text: {
            align: center;
          }
          border-bottom: 1px solid rgba($white, 0.25);
          padding-bottom: 5px;
          @media #{$sm}{
            color: $color-6;
          }
        }
        h1.rdnt-banner-promo-h1 {
          display: block;
          color: white;
          font: {
            family: 'Lato', sans-serif;
            size: 32px;
            weight: 600;
          }
          margin-bottom: 0px;
          text: {
            align: center;
          }
          @media #{$sm}{
            color: $color-2;
          }
        }
        .rdnt-banner-promo-ul {
          margin-top: 5px;
          @include rdnt-clean-list;
          @include rdnt-flex-col;
          justify-content: flex-end;
          text-align: right;
          width: 100%;
          .rdnt-banner-promo-li {
            display: block;
            width: 100%;
            color: white;
            font: {
              family: 'Lato', sans-serif;
              size: 14px;
              weight: 400;
            }
            text: {
              align: right;
            }
            @media #{$sm}{
              color: $color-2;
            }
          }
        }
        span.rdnt-banner-promo-price {
          @include rdnt-flex-row;
          background-color: $white;
          color: $color-6;
          font: {
            family: 'Lato', sans-serif;
            size: 16px;
            weight:  600;
          }
          border: 0;
          border-radius: 50px;
          padding: 5px 10px 5px 10px;
          margin-left: 10px;
          text-align: center;
          min-width: 100px;
          cursor: pointer;
        }
      }
    }
  }
}

// ESPECIALITIES
section.rdnt-especialities {
  h3.rdnt-h3 {
    @include rdnt-flex-row;
    height: 48px;
    background-color: $color-5;
    color: $white;
    font: {
      family: 'Lato', sans-serif;
      size: 16px;
      weight: 400;
    }
    text-align: center;
    @media #{$sm} {
      flex-direction: column;
    }
    > span {
      font-weight: 600;
      @media #{$sm} {
        width: 100%;
        display: block;
        text-align: center;
      }
    } 
  }
  .flex-row.center {
    // ESPECIALITY BOX
    margin-top: 40px;
    margin-bottom: 40px;
    @media #{$sm}{
      flex-direction: column;
    }
    .rdnt-wrapper-especialities {
      @include rdnt-flex-row;
      margin: 0 auto;
      width: 50%; 
      text-align: center;
      @media #{$sm}{
        width: 100%;
      }
      &:first-of-type {
        border-right: 1px dashed $color-1;
        @media #{$sm}{
          border-right: 0;
        }
      }   
      &:last-of-type {
        border-left: 1px dashed $color-1;
        @media #{$sm}{
          border-left: 0;
        }
      }
    }
    article.rdnt-especialities-article {
      @include rdnt-flex-row;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: stretch;
      max-width: 350px;
      height: 200px;
      padding: 20px;
      .rdnt-especialities-picture {
        width: 120px;
        max-width: 120px;
        min-width: 120px;
        height: 120px;
        max-height: 120px;
        min-height: 120px;
        border: 8px solid $color-6;
        border-radius: 120px;
        overflow: hidden;
        text-align: center;
        margin-right: 10px;
        img { 
          height: 100%;
          text-align: center;
        }
      }
      h2.rdnt-especialities-h2 {
        color: $black;
        display: block;
        text-align: left;
        font: {
          family: 'Barlow', sans-serif;
          size: 32px;
          weight: 300;
        }
        padding-bottom: 20px;
        letter-spacing: -1.5px;
        text: {
          align: left;
          transform: capitalize;
        }
        position: relative;
        @media #{$xs}{
          font-size: 24px;
        }
        > img {
          width: 100%;
          height: 15px;
          position: absolute;
          bottom: 10px;
          left: 0px;
        }
      }
      p {
        color: $color-6;
        max-width: 250px;
        font: {
          family: 'Lato', sans-serif;
          size: 14px;
          weight: 400;
        }
        text-align: left;
      }
      .rdnt-especialities-p {
        display: none;
      }
      button.rdn-especialities-button {
        @include rdnt-flex-row;
        background-color: $color-6;
        color: $white!important;
        font: {
          family: 'Lato', sans-serif;
          size: 18px;
          weight:  600;
        }
        border: 0;
        border-radius: 50px;
        padding: 5px 10px 5px 10px;
        margin-top: 10px;
        cursor: pointer;
        a {
          color: $white;
          &:focus, &:visited, &:active, &:hover {
            color: $white;
          }
        }
      }
    }
  }
}

//VENUES PAGE

section.rdnt-venues-page {
  background-color: $color-6;
  width: 100vw;
  height: 90vh;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  @media #{$sm}{
    height: 500px;
  }
  @media #{$xxl}{
    width: 100%;
  }
  .banner-venues-roll {
    height: 90vh;
    @media #{$sm}{
      height: 500px;
    }
    .rdnt-shape {
      position: absolute;
      right: calc(50vw - 124px);
      top: 0;
      z-index: 11;
      height: 90vh; 
      @media #{$sm} {
        display: none;
      }
      @media #{$xxl}{
        right: calc(50% - 124px);
      }
    }
    ul.banner-venues-ul {
      list-style-type: none;
      margin: 0!important;
      padding: 0!important;
      li.banner-venues-li {
        //BANNER LIST IMAGES 1
        &.venues-banner-1 {
          > .flex-row.center {
            .rdnt-venue {
              .flex-column.center {
                > .flex-row.center {
                  margin-top: 20px;
                  a {
                    background-color: $white;
                    color: $color-6;
                    font: {
                      family: 'Lato', sans-serif;
                      size: 14px;
                      weight:  600;
                    }
                    border: 0;
                    border-radius: 50px;
                    padding: 5px 10px 5px 10px;
                    &:hover, &:visited, &:focus, &:active {
                      color: $color-6;
                    }
                    &:first-of-type {
                      margin-right: 5px;
                      background-color: $color-3;
                      color: $white;
                    }
                  }
                }
              }
              .rdnt-wrapper-venues-gallery {
                .rdnt-venue-banner-img {
                  &.banner-img-1 {
                    background: {
                      image: url('../../common/assets/img/sedes/sede-0167.jpg');
                      position: center;
                      //color: red;
                    }
                  }
                  &.banner-img-2 {
                    background: {
                      image: url('../../common/assets/img/sedes/sede-0064.jpg');
                      position: center;
                      //color: lighten( red, 5%);
                    }
                  }
                  &.banner-img-3 {
                    background: {
                      image: url('../../common/assets/img/sedes/sede-0036.jpg');
                      position: center;
                      //color: lighten( red, 10%);
                    }
                  }
                  &.banner-img-4 {
                    background: {
                      image: url('../../common/assets/img/sedes/sede-0106.jpg');
                      position: center;
                      //color: lighten( red, 15%);
                    }
                  }
                }
              }
            }
          }
        }
        //BANNER LIST IMAGES 2
        &.venues-banner-2 {
          > .flex-row.center {
            .rdnt-venue {
              .rdnt-wrapper-venues-gallery {
                .rdnt-venue-banner-img {
                  &.banner-img-1 {
                    background: {
                      image: url('../../common/assets/img/sedes/sede-0236.jpg');
                      position: center;
                      //color: blue;
                    }
                  }
                  &.banner-img-2 {
                    background: {
                      image: url('../../common/assets/img/sedes/sede-0180.jpg');
                      position: center;
                      //color: lighten( blue, 5%);
                    }
                  }
                  &.banner-img-3 {
                    background: {
                      image: url('../../common/assets/img/sedes/sede-0215.jpg');
                      position: center;
                      //color: lighten( blue, 10%);
                    }
                  }
                  &.banner-img-4 {
                    background: {
                      image: url('../../common/assets/img/sedes/sede-0187.jpg');
                      position: center;
                      //color: lighten( blue, 15%);
                    }
                  }
                }
              }
            }
          }
        }
        //BANNER LIST IMAGES 3
        &.venues-banner-3 {
          > .flex-row.center {
            .rdnt-venue {
              .rdnt-wrapper-venues-gallery {
                .rdnt-venue-banner-img {
                  &.banner-img-1 {
                    background: {
                      image: url('../../common/assets/img/sedes/sede-0293.jpg');
                      position: center;
                      //color: green
                    }
                  }
                  &.banner-img-2 {
                    background: {
                      image: url('../../common/assets/img/sedes/sede-0250.jpg');
                      position: center;
                      //color: lighten(green, 5%);
                    }
                  }
                  &.banner-img-3 {
                    background: {
                      image: url('../../common/assets/img/sedes/sede-0262.jpg');
                      position: center;
                      //color: lighten(green, 10%);
                    }
                  }
                  &.banner-img-4 {
                    background: {
                      image: url('../../common/assets/img/sedes/sede-0275.jpg');
                      position: center;
                      //color: lighten(green, 15%);
                    }
                  }
                }
              }
            }
          }
        }
        > .flex-row.center {
          width: 100vw;
          height: 90vh;
          margin-left: 0;
          flex-wrap: wrap;
          @include rdnt-animate; 
          overflow: hidden;
          box-sizing: border-box;
          @include rdnt-flex-row;
          @media #{$sm}{
            flex-direction: column;
            height: 500px;
          }
          @media #{$xxl}{
            width: 100%;
          }
          .rdnt-venue {
            width: 100vw;
            height: 90vh;
            min-height: 90vh;
            max-height: 90vh;
            box-sizing: border-box;
            @include rdnt-flex-row;
            justify-content: space-between;
            position: relative;
            @media #{$sm}{
              height: 500px;
              min-height: 500px;
              max-height: 500px;
              flex-direction: column;
            }
            @media #{$xxl}{
              width: 100%;
            }
            > .flex-column.center {
              width: 400px;
              height: 100%;
              box-sizing: border-box;
              position: absolute;
              z-index: 1;
              background-color: rgba($color-1, 0.75);
              padding: 20px;
              @media #{$sm}{
                flex-direction: column;
                width: 100%;
                margin-left: 0;
                margin-top: 0px;
                height: 350px;
                padding-bottom: 80px;
                position: absolute;
                bottom: 0;
                background-color: rgba($black, 0.25);
              }
              h2.rdnt-venues-h2 {
                display: block;
                width: 100%;
                text-align: center;
                color: $white;
                font: {
                  family: 'Barlow', sans-serif;
                  size: 28px;
                  weight: 300;
                }
                letter-spacing: -1.5px;
                margin-bottom: 0px;
                text: {
                  align: center;
                  transform: capitalize;
                }
                border-bottom: 1px solid rgba($white, 0.25);
                padding-bottom: 5px;
              }
              h1.rdnt-venues-h1 {
                display: block;
                width: 100%;
                text-align: center;
                color: $white;
                font: {
                  family: 'Lato', sans-serif;
                  size: 48px;
                  weight: 600;
                }
                margin-bottom: 0px;
                text: {
                  align: center;
                  transform: capitalize;
                }
                @media #{$sm}{
                  font-size: 36px;
                }
              }
              .rdnt-venues-directinons-ul {
                @include rdnt-clean-list; 
                @include rdnt-flex-col;
                @include rdnt-clean-webkit;
                width: 100%;
                .rdnt-venues-directions-li {
                  @include rdnt-clean-list; 
                  font: {
                    family: 'Lato', sans-serif;
                    size: 14px;
                    weight: 400;
                  }
                  span {
                    font-weight: 600;
                  }
                  color: $white;
                  @media #{$xs}{
                    width: 100%;
                    text-align: center;
                  }
                }
              }
              .rdnt-venues-gallery {
                margin-top: 40px;
                @include rdnt-flex-row;
                position: absolute;
                bottom: 20px;
                @media #{$sm}{
                  background-color: rgba($white, 0.75);
                  width: 100%;
                  position: absolute;
                  left: 0px;
                  bottom: 0px;
                  z-index: 13;
                  padding-top: 5px;
                  padding-bottom: 5px;
                }
                .rdnt-venues-box-img {
                  width: 50px;
                  height: 50px;
                  overflow: hidden;
                  position: relative;
                  border: 4px solid transparent;
                  margin-right: 10px;
                  text-align: center;
                  cursor: pointer;
                  @include rdnt-flex-col;
                  @include rdnt-animate;
                  &.active {
                    border: 4px solid $color-2;
                  }
                  &:last-of-type {
                    margin-right: 0px;
                  }
                  img {
                    width: 100px;
                  }
                }
              }
            }
            .rdnt-wrapper-venues-gallery {
              width: 100vw;
              height: 100%;
              position: absolute;
              bottom: 0px;
              left: 0px;
              overflow: hidden;
              @media #{$sm}{
                width: 100vw;
                height: 500px;
              }
              @media #{$xxl}{
                width: 50%;
              }
              .rdnt-venue-banner-img {
                width: 100%;
                height: 100%;
                display: none;
                background: {
                  size: cover;
                  repeat: no-repeat;
                }
                @include rdnt-animate; 
                &.active {
                  display: block;
                }
              }
            }
          }
        }
      }
    }
  }
  .unslider-nav {
    position: absolute;
    left: 12.5%; 
    top: 140px;
    z-index: 11;
    @media #{$sm}{
      top: 190px;
      left: 0px;
      width: 100%;
    }
    ol {
      @include rdnt-flex-row;
      li {
        font-size: 0px;
        padding: 5px 10px 5px 10px;
        color: $color-6;
        background-color: rgba($white, 0.25);
        cursor: pointer;
        border-radius: 10px 10px 0px 0px;
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        text-align: center;
        margin-right: 5px;
        position: relative;
        cursor: pointer;
        &:last-of-type {
          margin-right: 0px;
        }
        &:after {
          font-size: 18px;
        }
        &:nth-of-type(1) {
          &:after {
            content: "Tobalaba";
          }
        }
        &:nth-of-type(2) {
          &:after {
            content: "Salvador";
          }
        }
        &:nth-of-type(3) {
          &:after {
            content: "Pte. Alto";
          }
        }
        &.unslider-active {
          background-color: $white;
        }
      }
    }
  }
  .unslider-arrow {
    display: none;
    &.prev {

    }
    &.next {

    }
  }
}

//VENUES

section.rdnt-venues {
  background-color: $color-6;
  width: 100vw;
  height: 630px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  @media #{$sm}{
    height: 500px;
  }
  @media #{$xxl}{
    width: 100%;
  }
  .banner-venues-roll {
    height: 630px;
    @media #{$sm}{
      height: 500px;
    }
    .rdnt-shape {
      position: absolute;
      right: calc(50vw - 124px);
      top: 0;
      z-index: 11;
      height: 630px; 
      @media #{$sm} {
        display: none;
      }
      @media #{$xxl}{
        right: calc(50% - 124px);
      }
    }
    ul.banner-venues-ul {
      li.banner-venues-li {
        //BANNER LIST IMAGES 1
        &.venues-banner-1 {
          > .flex-row.center {
            .rdnt-venue {
              .flex-column.center {
                > .flex-row.center {
                  margin-top: 20px;
                  a {
                    background-color: $white;
                    color: $color-6;
                    font: {
                      family: 'Lato', sans-serif;
                      size: 14px;
                      weight:  600;
                    }
                    border: 0;
                    border-radius: 50px;
                    padding: 5px 10px 5px 10px;
                    &:hover, &:visited, &:focus, &:active {
                      color: $color-6;
                    }
                    &:first-of-type {
                      margin-right: 5px;
                      background-color: $color-3;
                      color: $white;
                    }
                  }
                }
              }
              .rdnt-wrapper-venues-gallery {
                .rdnt-venue-banner-img {
                  &.banner-img-1 {
                    background: {
                      image: url('../../common/assets/img/sedes/sede-0167.jpg');
                      position: center;
                      //color: red;
                    }
                  }
                  &.banner-img-2 {
                    background: {
                      image: url('../../common/assets/img/sedes/sede-0064.jpg');
                      position: center;
                      //color: lighten( red, 5%);
                    }
                  }
                  &.banner-img-3 {
                    background: {
                      image: url('../../common/assets/img/sedes/sede-0036.jpg');
                      position: center;
                      //color: lighten( red, 10%);
                    }
                  }
                  &.banner-img-4 {
                    background: {
                      image: url('../../common/assets/img/sedes/sede-0106.jpg');
                      position: center;
                      //color: lighten( red, 15%);
                    }
                  }
                }
              }
            }
          }
        }
        //BANNER LIST IMAGES 2
        &.venues-banner-2 {
          > .flex-row.center {
            .rdnt-venue {
              .rdnt-wrapper-venues-gallery {
                .rdnt-venue-banner-img {
                  &.banner-img-1 {
                    background: {
                      image: url('../../common/assets/img/sedes/sede-0236.jpg');
                      position: center;
                      //color: blue;
                    }
                  }
                  &.banner-img-2 {
                    background: {
                      image: url('../../common/assets/img/sedes/sede-0180.jpg');
                      position: center;
                      //color: lighten( blue, 5%);
                    }
                  }
                  &.banner-img-3 {
                    background: {
                      image: url('../../common/assets/img/sedes/sede-0215.jpg');
                      position: center;
                      //color: lighten( blue, 10%);
                    }
                  }
                  &.banner-img-4 {
                    background: {
                      image: url('../../common/assets/img/sedes/sede-0187.jpg');
                      position: center;
                      //color: lighten( blue, 15%);
                    }
                  }
                }
              }
            }
          }
        }
        //BANNER LIST IMAGES 3
        &.venues-banner-3 {
          > .flex-row.center {
            .rdnt-venue {
              .rdnt-wrapper-venues-gallery {
                .rdnt-venue-banner-img {
                  &.banner-img-1 {
                    background: {
                      image: url('../../common/assets/img/sedes/sede-0293.jpg');
                      position: center;
                      //color: green
                    }
                  }
                  &.banner-img-2 {
                    background: {
                      image: url('../../common/assets/img/sedes/sede-0250.jpg');
                      position: center;
                      //color: lighten(green, 5%);
                    }
                  }
                  &.banner-img-3 {
                    background: {
                      image: url('../../common/assets/img/sedes/sede-0262.jpg');
                      position: center;
                      //color: lighten(green, 10%);
                    }
                  }
                  &.banner-img-4 {
                    background: {
                      image: url('../../common/assets/img/sedes/sede-0275.jpg');
                      position: center;
                      //color: lighten(green, 15%);
                    }
                  }
                }
              }
            }
          }
        }
        > .flex-row.center {
          width: 100vw;
          height: 630px;
          margin-left: 0;
          flex-wrap: wrap;
          @include rdnt-animate; 
          overflow: hidden;
          box-sizing: border-box;
          @include rdnt-flex-row;
          @media #{$sm}{
            flex-direction: column;
            height: 500px;
          }
          @media #{$xxl}{
            width: 100%;
          }
          .rdnt-venue {
            width: 100vw;
            height: 630px;
            min-height: 630px;
            max-height: 630px;
            box-sizing: border-box;
            @include rdnt-flex-row;
            justify-content: space-between;
            @media #{$sm}{
              height: 500px;
              min-height: 500px;
              max-height: 500px;
              flex-direction: column;
            }
            @media #{$xxl}{
              width: 100%;
            }
            > .flex-column.center {
              margin-top: 120px;
              margin-left: 10%;
              margin: 0 auto;
              width: 400px;
              box-sizing: border-box;
              padding: 20px;
              @media #{$sm}{
                flex-direction: column;
                width: 100%;
                margin-left: 0;
                margin-top: 0px;
                height: 400px;
                padding-bottom: 40px;
              }
              h2.rdnt-venues-h2 {
                display: block;
                width: 100%;
                text-align: center;
                color: $white;
                font: {
                  family: 'Barlow', sans-serif;
                  size: 28px;
                  weight: 300;
                }
                letter-spacing: -1.5px;
                margin-bottom: 0px;
                text: {
                  align: center;
                  transform: capitalize;
                }
                border-bottom: 1px solid rgba($white, 0.25);
                padding-bottom: 5px;
              }
              h1.rdnt-venues-h1 {
                display: block;
                width: 100%;
                text-align: center;
                color: $white;
                font: {
                  family: 'Lato', sans-serif;
                  size: 48px;
                  weight: 600;
                }
                margin-bottom: 0px;
                text: {
                  align: center;
                  transform: capitalize;
                }
                @media #{$sm}{
                  font-size: 32px;
                }
              }
              .rdnt-venues-directinons-ul {
                @include rdnt-clean-list; 
                @include rdnt-flex-col;
                @include rdnt-clean-webkit;
                width: 100%;
                .rdnt-venues-directions-li {
                  @include rdnt-clean-list; 
                  font: {
                    family: 'Lato', sans-serif;
                    size: 14px;
                    weight: 400;
                  }
                  span {
                    font-weight: 600;
                  }
                  color: $white;
                  @media #{$xs}{
                    width: 100%;
                    text-align: center;
                  }
                }
              }
              .rdnt-venues-gallery {
                margin-top: 40px;
                @include rdnt-flex-row;
                display: none!important;
                @media #{$sm}{
                  background-color: rgba($white, 0.75);
                  width: 100%;
                  position: absolute;
                  left: 0px;
                  bottom: 0px;
                  z-index: 13;
                  padding-top: 5px;
                  padding-bottom: 5px;
                }
                .rdnt-venues-box-img {
                  width: 50px;
                  height: 50px;
                  overflow: hidden;
                  position: relative;
                  border: 4px solid transparent;
                  margin-right: 10px;
                  text-align: center;
                  cursor: pointer;
                  @include rdnt-flex-col;
                  @include rdnt-animate;
                  &.active {
                    border: 4px solid $color-1;
                  }
                  &:last-of-type {
                    margin-right: 0px;
                  }
                  img {
                    width: 100px;
                  }
                }
              }
            }
            .rdnt-wrapper-venues-gallery {
              width: 50vw;
              height: 630px;
              position: relative;
              overflow: hidden;
              @media #{$sm}{
                width: 100vw;
                height: 500px;
              }
              @media #{$xxl}{
                width: 50%;
              }
              .rdnt-venue-banner-img {
                width: 100%;
                height: 100%;
                display: none;
                background: {
                  size: cover;
                  repeat: no-repeat;
                }
                @include rdnt-animate; 
                &.active {
                  display: block;
                }
              }
            }
          }
        }
      }
    }
  }
  .unslider-nav {
    position: absolute;
    left: 12.5%; 
    top: 140px;
    z-index: 11;
    @media #{$sm}{
      top: 450px;
      left: 0px;
      width: 100%;
      bottom: 0px!important;
    }
    ol {
      @include rdnt-flex-row;
      li {
        font-size: 0px;
        padding: 5px 10px 5px 10px;
        color: $color-6;
        background-color: rgba($white, 0.25);
        cursor: pointer;
        border-radius: 10px 10px 0px 0px;
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        text-align: center;
        margin-right: 5px;
        position: relative;
        cursor: pointer;
        &:last-of-type {
          margin-right: 0px;
        }
        &:after {
          font-size: 18px;
        }
        &:nth-of-type(1) {
          &:after {
            content: "Tobalaba";
          }
        }
        &:nth-of-type(2) {
          &:after {
            content: "Salvador";
          }
        }
        &:nth-of-type(3) {
          &:after {
            content: "Pte. Alto";
          }
        }
        &.unslider-active {
          background-color: $white;
        }
      }
    }
  }
  .unslider-arrow {
    display: none;
    &.prev {

    }
    &.next {

    }
  }
}

section.rdnt-us {
  position: relative;
  .rdbt.in-works-advice {
    height: calc(100% + 32px);
    width: 100%;
    position: absolute;
    top: 48px;
    left: 0px;
    background-color: rgba($black, 0.9);
    z-index: 3;
    @include rdnt-flex-col;
    display: none!important;
    &:after {
      @include rdnt-flex-col;
      width: 100%;
      color: $white;
      font: {
        family: 'Lato', sans-serif;
        size: 16px;
        weight: 600;
      }
      text-align: center;
      height: 20px;
      content: "Pronto aquí conocerás a nuestros especialistas"
    }
  }
  h3.rdnt-h3 {
    @include rdnt-flex-row;
    height: 48px;
    background-color: $color-4;
    color: $white;
    font: {
      family: 'Lato', sans-serif;
      size: 16px;
      weight: 400;
    }
    text-align: center;
    @media #{$sm}{
      flex-direction: column;
    }
    > span {
      font-weight: 600;
      @media #{$sm}{
        display: block;
        text-align: center;
      }
    }
    margin-bottom: 40px; 
  }
  .unslider-nav {
    display: none;
  }
  .unslider {
    margin-bottom: 80px;
  }
  .unslider-arrow {
    @include rdnt-flex-row;
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    font-size: 0px;
    &:after {
      font-size: 16px;
      font-family: 'Lato', sans-serif;
      font-weight: 600;
      padding: 5px 10px 5px 10px;
      border-radius: 0px 0px 6px 6px;
      background-color: $color-1;
      color: $white;
      @include rdnt-animate;
      &:hover {
        background-color: ligthten($color-1, 10%);
      }
    }
    &.prev {
      &:after {
        content:"Anterior";
      }
      right: 110px;
      left: inherit;
    }
    &.next {
      &:after {
        content:"Siguiente";
      }
    }
  }
  .rdnt-us-banner-slider {
    height: 200px;
    @media #{$sm}{
      height: auto;
    }
  }
  .rdnt-wrapper-us {
    width: 100vw;
    overflow: hidden;
    .rdnt-slider-us {
      @include rdnt-flex-row;
      justify-content: flex-start;
      width: auto;
    }
  }
  .flex-row.between {
    width: 100vw;
    max-width: 100vw;
    min-width: 100vw;
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 40px;
    @media #{$sm}{
      flex-direction: column;
    }
    .flex-row.start {
      @media #{$sm}{
        flex-direction: column;
        width: 100%;
      }
      .rdnt-us-picture {
        width: 120px;
        max-width: 120px;
        min-width: 120px;
        height: 120px;
        max-height: 120px;
        min-height: 120px;
        border: 8px solid $color-6;
        border-radius: 120px;
        overflow: hidden;
        text-align: center;
        margin-right: 10px;
        background: {
          size: cover;
          position: center;
          repeat: no-repeat;
          color: $color-1;
          blend-mode: multiply;
        }
        img { 
          height: 100%;
          text-align: center;
        }
      }
      .flex-col.start {
        h2.rdnt-us-h2 {
          color: $black;
          display: block;
          text-align: left;
          font: {
            family: 'Barlow', sans-serif;
            size: 32px;
            weight: 300;
          }
          padding-bottom: 20px;
          letter-spacing: -1.5px;
          text: {
            align: left;
            transform: capitalize;
          }
          position: relative;
          > img {
            width: 100%;
            height: 15px;
            position: absolute;
            bottom: 10px;
            left: 0px;
          }
        }
        p.rdnt-us-p {
          color: $black;
          max-width: 250px;
          font: {
            family: 'Lato', sans-serif;
            size: 14px;
            weight: 400;
          }
          text-align: left;
          @media #{$sm}{
            max-width: initial;
          }
        }
      }
    }
    p {
      color: $color-4;
      max-width: 55%;
      font: {
        family: 'Lato', sans-serif;
        size: 32px;
        weight: 600;
      } 
      text-align: center;
      @media #{$sm}{
        max-width: 100%;
        font-size: 24px;
        margin-top: 20px;
      }
    }
    .rdnt-us-quote {
      display: inline-block;
      width: auto;
    }
  }
}

//ENTERPRISE
section.rdnt-enterprise {
  width: 100%;
  h3.rdnt-h3 {
    @include rdnt-flex-row;
    height: 48px;
    background-color: $color-5;
    color: $white;
    font: {
      family: 'Lato', sans-serif;
      size: 16px;
      weight: 400;
    }
    text-align: center;
    > span {
      font-weight: 600;
    }
  }
  ul.rdnt-enterprise-banner-ul{
    @include rdnt-clean-list;
    @include rdnt-clean-webkit;
    width: 100%;
    height: 630px;
    padding: 0;
    margin: 0;
    @media #{$sm}{
      height: auto;
    }
    li.rdnt-enterprise-banner-li {
      width: 100%;
      height: 630px;
      background: {
        image: url("../common/assets/img/banner-4-placeholder.png");
        size: cover;
        position: center;
        repeat: no-repeat;
      }
      position: relative;
      @media #{$sm}{
        height: auto;
      }
      article.rdnt-enterprise-article {
        @include rdnt-flex-col;
        width: 450px;
        height: 590px;
        margin-left: 20px;
        padding: 20px;
        background-color: rgba(black, 0.25);
        @media #{$sm}{
          width: 100%;
          height: auto;
          margin-left: 0px;
          box-sizing: border-box;
          background-color: rgba(black, 0.5);
        }
        h3.rdnt-enterprise-h3 {
          font: {
            family: 'Lato', sans-serif;
            size: 24px;
            weight: 400;
          }
          text-align: center;
          margin-bottom: 5px;
          color: $white;
        }
        p.rdnt-enterprise-p, p {
          font: {
            family: 'Lato', sans-serif;
            size: 16px;
            weight: 400;
          }
          text-align: center;
          margin-bottom: 5px;
          color: $white;
          @media #{$sm}{
            @include rdnt-clean-webkit;
          }
        }
        button.rdnt-enterprise-button {
          border: 0;
          background-color: $white;
          color: $color-1;
          font: {
            family: 'Lato', sans-serif;
            size: 18px;
            weight:  600;
          }
          border: 0;
          border-radius: 50px;
          padding: 5px 10px 5px 10px;
          cursor: pointer;
          @media #{$sm}{
            margin-top:40px;
          }
        }
        h4.rdnt-enterprise-h4 {
          font: {
            family: 'Lato', sans-serif;
            size: 18px;
            weight: 400;
          }
          text-align: center;
          margin-bottom: 5px;
          color: $white;
        }
        .enterprise-list {
          align-items: flex-start;
          @media #{$sm}{
            flex-direction: column;
            padding-top: 20px;
          }
          .flex-column {
            width: 220px;
            @media #{$sm}{
              width: auto;
            }
            ul {
              li {
                @include rdnt-clean-list;
                img {
                  width: 18px;
                  height: auto;
                  margin-right: 5px;
                }
                color: $white;
                font: {
                  family: 'Lato', sans-serif;
                  size: 13px;
                  weight:  300;
                }
                margin-bottom: 5px;
              }
            }
          }
        }
      }
    }
  }
}

//FOTER

section.rdnt-footer {
  width: 100%;
  height: 140px;
  overflow: hidden;
  position: relative;
  background: rgb(129,187,224); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(129,187,224,1) 0%, rgba(55,168,210,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(129,187,224,1) 0%,rgba(55,168,210,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(129,187,224,1) 0%,rgba(55,168,210,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81bbe0', endColorstr='#37a8d2',GradientType=1 ); /* IE6-9 */
  img {
    height: 165px;
    margin-top: -7px;
    margin-left: 20px;
    width: auto;
  }
  nav.rdnt-footer-nav {
    width: 200px;
    @include rdnt-flex-row;
    justify-content: flex-end;
    right: 40px;
    top: 60px;
    position: absolute;
    @media #{$sm}{
      flex-direction: column;
    }
    a {
      color: $white;
      font: {
        family: 'Lato', sans-serif;
        size: 16px;
        weight: 400;
      }
      text-align: right;
      &:hover, &:active {
        color: $white;
      }
      @include rdnt-flex-row;
      height: 20px;
      &:hover {
        text-decoration: underline;
      }
      @media #{$sm}{
        width: 100%;
        text-align: right;
        justify-content: flex-end;
      }
      img {
        width: 20px;
        height: 20px;
        margin-right: 5px;
        margin-bottom: -8px;
      }
    }
  }
}

.rdnt-modal-bg {
  background-color: rgba($black, 0.25);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999999999998;
  display: none;
}

// MODAL ESPECIALITIES

.rdnt-wrapper-modal-especialities {
  width: 100vw;
  height: 100vh;
  @include rdnt-flex-col;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999999999;
  @include rdnt-animate;
  &.modal-especialities-1 {
    .rdnt-modal-especialities {
      .rdnt-banner-modal-especialities {
        //background-image: url("../common/assets/img/especiality-01-banner.png");
      }
    }
  }
  &.modal-especialities-2 {
    .rdnt-modal-especialities {
      .rdnt-banner-modal-especialities {
        //background-image: url("../common/assets/img/especiality-02-banner.png");
      }
    }
  }
  &.modal-especialities-3 {
    .rdnt-modal-especialities {
      .rdnt-banner-modal-especialities {
        //background-image: url("../common/assets/img/especiality-03-banner.png");
      }
    }
  }
  &.modal-especialities-4 {
    .rdnt-modal-especialities {
      .rdnt-banner-modal-especialities {
        //background-image: url("../common/assets/img/especiality-04-banner.png");
      }
    }
  }
  &.modal-especialities-5 {
    .rdnt-modal-especialities {
      .rdnt-banner-modal-especialities {
        //background-image: url("../common/assets/img/especiality-05-banner.png");
      }
    }
  }
  &.modal-especialities-6 {
    .rdnt-modal-especialities {
      .rdnt-banner-modal-especialities {
        //background-image: url("../common/assets/img/especiality-06-banner.png");
      }
    }
  }
  &.modal-especialities-7 {
    .rdnt-modal-especialities {
      .rdnt-banner-modal-especialities {
        //background-image: url("../common/assets/img/especiality-07-banner.png");
      }
    }
  }
  &.modal-especialities-8 {
    .rdnt-modal-especialities {
      .rdnt-banner-modal-especialities {
        //background-image: url("../common/assets/img/especiality-08-banner.png");
      }
    }
  }
  &.modal-especialities-9 {
    .rdnt-modal-especialities {
      .rdnt-banner-modal-especialities {
        //background-image: url("../common/assets/img/especiality-09-banner.png");
      }
    }
  }
  &.modal-especialities-10 {
    .rdnt-modal-especialities {
      .rdnt-banner-modal-especialities {
        //background-image: url("../common/assets/img/especiality-10-banner.png");
      }
    }
  }
  .rdnt-modal-especialities {
    background-color: $white;
    @include rdnt-shadow;
    width: 480px;
    height: auto;
    padding: 20px;   
    position: relative;
    z-index: 22;
    @media #{$sm}{
      width: 80%;
    }
    span.rdnt-close-modal {
      position: absolute;
      right: 20px;
      top: 20px;
      color: $black;
      cursor: pointer;
      @include rdnt-animate;
      &:hover {
        color: $color-1;
      }
    }
    h3 {
      color: $color-4;
      font: {
        family: 'Lato', sans-serif;
        size: 32px;
        weight: 600;
      }
      text-align: left;
      margin-bottom: 10px;
    }
    .rdnt-banner-modal-especialities {
      display: block;
      background: {
        //color: lighten($color-1, 10%);
        size: cover;
        position: center;
        repeat: no-repeat;
      }
      //background-blend-mode: multiply;
      height: 200px;
      width: 100%;
      border-top: 5px solid $color-1;
      border-bottom: 10px solid $color-1;
      margin-bottom: 10px;
      @media #{$sm}{
        height: 80px;
      }
    }
    .rdnt-modal-text-body {
      display: block;
      height: auto;
      max-height: 300px;
      overflow-y: auto;
      padding-right: 10px;
      @media #{$sm}{
        max-height: 200px;
      }
      // TEXT EDITOR STYLES 
      h1, h2, h3, h4, h5, h6 {
        font: {
          family: 'Lato', sans-serif;
          weight: 500;
        }
        color: $color-2;
        display: block; 
        margin-top: 10px;
        margin-bottom: 10px;
      }
      h1 {
        font-size: 28px;
      }
      h2 {
        font-size: 24px;
      }
      h3 {
        font-size: 21px;
      }
      h4 {
        font-size: 18px;
      }
      h5 {
        font-size: 18px;
        font-weight: 500;
      }
      h6 {
        font-size: 16px;
        font-weight: 500;
      }
      p {
        margin-top: 10px;
        color: $black;
        font: {
          family: 'Lato', sans-serif;
          size: 14px;
          weight: 400;
        }
        text-align: justify;
        strong {
          font-weight: 600;
        }
      }
      blockquote {
        color: $color-6;
        font: {
          family: 'Lato', sans-serif;
          size: 16px;
          weight: 500;
          style: italic;
        }
      }
    }
    p.rdnt-modal-p {
      margin-top: 10px;
      color: $black;
      font: {
        family: 'Lato', sans-serif;
        size: 14px;
        weight: 400;
      }
      text-align: justify;
    }
    li {
      color: $black;
      font: {
        family: 'Lato', sans-serif;
        size: 14px;
        weight: 400;
      }
    }
    span.bold-quote {
      color: $color-6;
      font: {
        family: 'Lato', sans-serif;
        size: 16px;
        weight: 500;
        style: italic;
      }
    }
    span.bold-block {
      color: $black;
      display: block;
      text-align: left;
      font-weight: 600;
      margin-top: 20px;
      margin-bottom: 10px;
      font: {
        family: 'Lato', sans-serif;
        size: 16px;
        weight: 600;
      }
    }
    span.bold {
      color: $black;
      font: {
        family: 'Lato', sans-serif;
        size: 14px;
        weight: 600;
      }
    }
  }
}

// MODAL VENUE

.rdnt-wrapper-modal-venue, .rdnt-wrapper-modal-venue-taken {
  width: 100vw;
  height: 100vh;
  @include rdnt-flex-col;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999999999;
  @include rdnt-animate;
  .rdnt-modal-venue{
    background-color: $white;
    @include rdnt-shadow;
    width: 350px;
    height: auto;
    padding: 20px;
    position: relative;
    z-index: 22;
    @media #{$sm}{
      width: 80%;
    }
    span.rdnt-close-modal {
      position: absolute;
      right: 20px;
      top: 20px;
      color: $black;
      cursor: pointer;
      @include rdnt-animate;
      &:hover {
        color: $color-1;
      }
    }
    h3 {
      color: $color-4;
      font: {
        family: 'Lato', sans-serif;
        size: 32px;
        weight: 600;
      }
      text-align: left;
      margin-bottom: 10px;
    }
    .flex-row {
      width: 100%;
      justify-content: space-around;
      .flex-column {
        width: 30%;
        &:nth-of-type(1) {
          border: 1px solid $color-4;
        }
        &:nth-of-type(2) {
          border: 1px solid $color-5;
        }
        &:nth-of-type(3) {
          border: 2px solid $color-6;
        }
        a {
          @include rdnt-flex-col;
          width: 100%;
          h5.rdnt-h5 {
            line-height: 30px;
            height: 30px;
            width: 100%;
            color: $white;
            font: {
              family: 'Lato', sans-serif;
              size: 14px;
              weight: 600;
            }
            text: {
              align: center;
              transform: capitalize;
            }
            &.sede-1 {
              background-color: $color-4;
            }
            &.sede-2 {
              background-color: $color-5;
            }
            &.sede-3 {
              background-color: $color-6;
            }
          }
          .rdnt-venue-img {
            outline: 0;
            border: 0;
            padding: 0;
            margin: 0; 
            width: 100%;
            height: 100px;
            background: {
              size: cover;
              position: center;
              repeat: no-repeat;
            } 
            &.venue-1 {
              //background-image: url('../../common/assets/img/sedes/sede-0293.jpg');
            } 
            &.venue-2 {
              //background-image: url('../../common/assets/img/sedes/sede-0236.jpg');
            }
            &.venue-3 {
              //background-image: url('../../common/assets/img/sedes/sede-0167.jpg');
            }
          }
        }
      }
    }
    p.rdnt-modal-p {
      margin-top: 10px;
      color: $black;
      font: {
        family: 'Lato', sans-serif;
        size: 14px;
        weight: 400;
      }
      text-align: justify;
    }
  }
}

h3.rdnt-h3 {
  @media #{$xs}{
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}


// ESPECIALTIES PAGE 

.rdnt-specialties-page {
  min-height: 90vh;
  width: 100%;
  padding-top: 40px;
  .rdnt-banner-page-specialties {
    width:100%;
    height: 300px;
    border-bottom: 4px solid $color-1;
    background: {
      size: cover;
      repeat: no-repeat;
      blend-mode: lighten;
      color: $color-6;
    }
    .rdnt-page-color {
      background-color: rgba($black, 0.75);
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;
    }
    .rdnt-page-specialties-icon {
      width: 160px;
      height: 160px;
      border-radius: 160px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      align-items: center;
      background-color: white;
      background: {
        size: cover;
        repeat: no-repeat;
        blend-mode: lighten;
      }
      overflow: hidden;
      box-shadow: 2px 1px 1px 3px rgba($black, 0.5);
      img {
        width: 150%;
        min-width: 150%;
        max-width: 150%;
        height: auto;
        position: relative;
      }
    }
    h3 {
      margin-top: 10px;
      color: $white;
      font: {
        family: 'Lato', sans-serif;
        size: 28px;
        weight: 600;
      }
      text-align: center;
    }
  }
  .rdnt-page-body {
    padding: 40px;
    // TEXT EDITOR STYLES 
    h1, h2, h3, h4, h5, h6 {
      font: {
        family: 'Lato', sans-serif;
        weight: 500;
      }
      color: $color-2;
      display: block; 
      margin-top: 10px;
      margin-bottom: 10px;
    }
    h1 {
      font-size: 28px;
    }
    h2 {
      font-size: 24px;
    }
    h3 {
      font-size: 21px;
    }
    h4 {
      font-size: 18px;
    }
    h5 {
      font-size: 18px;
      font-weight: 500;
    }
    h6 {
      font-size: 16px;
      font-weight: 500;
    }
    p {
      margin-top: 10px;
      color: $black;
      font: {
        family: 'Lato', sans-serif;
        size: 14px;
        weight: 400;
      }
      text-align: justify;
      strong {
        font-weight: 600;
      }
    }
    blockquote {
      color: $color-6;
      font: {
        family: 'Lato', sans-serif;
        size: 16px;
        weight: 500;
        style: italic;
      }
    }
    li {
      color: $black;
      font: {
        family: 'Lato', sans-serif;
        size: 14px;
        weight: 400;
      }
    }
  }
  a.back{
    border: 0;
    border-radius: 20px;
    background-color: $color-6;
    color: $white;
    font: {
      family: 'Lato', sans-serif;
      size: 16px;
      weight: 400;
    }
    padding: 5px 14px 5px 14px;
    outline: 0;
    margin-left: 40px;
    margin-bottom: 40px;
    display: inline-block;
    text-decoration: none;
    &:hover, &:focus, &:active, &:visited {
      text-decoration: none;
      color: $white,
    }
  }
}

/////////////////////////////////////////////////////////////////////////////////////NEW FEATURE STYLES


h4.rdnt-h4-partners {
  color: $white;
  background-color: $color-6; 
  box-sizing: border-box;
  padding: 10px 20px 10px 40px;
  font: {
    family: 'Lato', sans-serif;
    size: 16px;
    weight: 500;
  } 
  text-align: center;
}

section.rdnt-partners {
  width: 100%;
  min-height: 600px; 
  box-sizing: border-box;
  padding: 40px 20px 20px 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  position: relative;
  background: {
    color: $color-2;
  }
  @media #{$exception}{
    background-image: initial!important;
  }
  @media #{$sm} {
    background: {
      blend-mode: soft-light;
      size: cover;
      position: top center;
      repeat: no-repeat;
    }
    justify-content: center;
  }
  .rdnt-partners-desktop-img {
    display: inline-block;
    width: 50%;
    height: 100%;
    background: {
      blend-mode: soft-light;
      size: cover;
      position: top center;
      repeat: no-repeat;
      color: $color-2;
    }
    position: absolute;
    top: 0;
    left: 0;
    @media #{$sm} {
      display: none;
    }
  }
  //ROTATOR
  .rdnt-partners-rotator {
    margin-left: 50%;
    width: 50%;
    height: auto;
    @media #{$sm} {
      margin-left: 0%;
      width: 100%;
    }
    .rdnt-partners-line {
      width: 20%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: calc(50% - 10%);
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,2f73b8+49,2f73b8+100&0+0,1+49,1+100 */
      background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(47,115,184,1) 49%, rgba(47,115,184,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(47,115,184,1) 49%,rgba(47,115,184,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(47,115,184,1) 49%,rgba(47,115,184,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#2f73b8',GradientType=1 ); /* IE6-9 */
      @media #{$sm}{
        display: none;
      }
    }
    //ROTATOR IMAGES
    .rdnt-rotator-box-img-wrapper {
      width: auto;
      max-width: 480px;
      height: auto;
      display: block;
      margin: 0 auto;
      position: relative;
      overflow: hidden;
      @media #{$sm}{
        max-width: 320px;
      }
      .rdnt-rotator-box-img {
        width: auto;
        height: 120px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start; 
        cursor: pointer;
        @media #{$sm}{
          height: 80px;
        }
        //BRAND
        .rdnt-partner-brand-box {
          margin-right: 10px;
          margin-left: 10px;
          position: relative;
          @include rdnt-animate;
          &:after {
            display: none;
            @include rdnt-animate;
          }
          &.active {
            &:after {
              @include rdnt-animate;
              display: inline-block;
              position: absolute;
              bottom: -20px;
              left: calc(50% - 9px);
              width: 0; 
              height: 0; 
              border-left: 9px solid transparent;
              border-right: 9px solid transparent;
              border-top: 9px solid rgba(white, 0.25);
              content: '';
            }
          }
          .rdnt-partner-brand {
            width: 100px;
            height: 100px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-content: center;
            align-items: center;
            background-color: $white;
            border-radius: 100%;
            @media #{$sm}{
              width: 60px;
              height: 60px;
            }
            img {
              max-width: 64px;
              max-height: 64px;
              @media #{$sm}{
                max-width: 48px;
                max-height: 48px;
              }
            }

          }
        }
      }
    }
    //TEXT ROTATOR
    .rdnt-rotator-box-text-wrapper {
      box-sizing: border-box;
      margin: 0 auto;
      position: relative;
      display: block;
      width: 480px;
      max-width: 480px;
      margin-top: 20px;
      overflow: hidden;
      .rdnt-rotator-box-text {
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        //BRAND TEXT
        .rdnt-brand-text {
          width: 480px;
          min-width: 480px;
          max-width: 480px;
          @include rdnt-animate;
          display: none;
          &.active {
            display: block;
          }
          h5.rdnt-partner-name {
            display: inline-block;
            color: $white;
            text-transform: capitalize;
            font: {
              family: 'Lato', sans-serif;
              size: 14px;
              weight: 400px;
            }
            padding-bottom: 5px;
            border-bottom: 1px solid rgba(white, 0.25);
          }
          h6.rdnt-partner-title {
            margin-top: 10px;
            color: $white;
            font: {
              family: 'Lato', sans-serif;
              size: 28px;
              weight: 600;
            }
          }
          .rdnt-partner-description {
            color: $white;
            margin-top: 10px;
            font: {
              family: 'Lato', sans-serif;
              size: 12px;
              weight: 400;
            }
            @include rndt-rich-text;
            @media #{$sm}{
              max-width: 280px;
            }
          }
        }
      }
    }
  }
}

//VENUES NAV

nav.rdnt-new-nav-venues{
  @include rdnt-clean-ahref;
  @include rdnt-clean-list;
  background-color: $color-1;
  box-sizing: border-box;
  padding: 0px 20px 0px 20px!important;
  width: 100%;
  font-family: 'Lato', sans-serif;
  position: relative;
  z-index: 1;
  &:hover {
    padding: 0px 20px 0px 20px!important;
  }
  @media #{$sm} {
    max-height: initial;
    padding: 0px 0px 60px 0px!important;
    position: relative;
    &:hover {
      padding: 0px 0px 60px 0px!important;
    }
  }
  p.rdnt-new-nav-venues-title  {
    display: none;
    @media #{$sm}{
      display: block;
      text-align: center;
      font: {
        size: 14px;
        weight: 300;
      }
      padding-top: 20px!important;
      margin-bottom: 10px;
      color: $white;
    }
  }
  ul.rdnt-new-nav-venues-ul {
    @include rdnt-clean-ahref;
    @include rdnt-clean-list;
    @include rdnt-clean-webkit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    @media #{$sm} {
      flex-wrap: wrap;
    }
    li.rdnt-new-nav-venues-li {
      max-width: 280px;
      box-sizing: border-box;
      @include rdnt-clean-ahref;
      @include rdnt-clean-list;
      @include rdnt-clean-webkit;
      padding: 10px!important;
      margin-left: 10px!important;
      margin-right: 10px!important;
      cursor: pointer;
      &:hover {
        padding: 10px!important;
        margin-left: 10px!important;
        margin-right: 10px!important;
      }
      @media #{$sm} {
        margin-left: 0px!important;
        margin-right: 0px!important;
        max-width: 160px;
        position: relative;
        border: 1px solid white;
        border-radius: 5px;
        margin: 5px!important;
        &:hover {
          margin-left: 0px!important;
          margin-right: 0px!important;
          margin: 5px!important;
          border: 1px solid white;
          border-radius: 5px;
        }
      }
      h2.rdnt-new-nav-h2 {
        color: $white;
        font: {
          size: 18px;
          weight: 300;
        } 
        text: {
          align: center;
          transform: capitalize;
        }
        @media #{$sm}{
          font-size: 14px;
          text-align: right;
          margin-bottom: 0px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }    
      p.rdnt-new-nav-p {
        flex-direction: row;
        justify-content: flex-start;
        align-content: center;
        align-items: flex-start;
        color: $white;
        position: relative;
        font: {
          size: 12px;
          weight: 400;
        }
        display: none;
        margin-bottom: 5px;
        @media #{$sm} {
          display: flex;
          margin-bottom: initial;
        }
        a.rdnt-new-nav-a {
          color: $white;
          text-decoration: none;
          font: {
            size: 12px;
            weight: 400;
          }
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          img {
            margin-right: 5px;
            @media #{$sm} {
              margin-right: 0px;
            }
          }
          &.img {
            display: inline-block;
            min-width: 16px!important;
            @media #{$sm} {
              display: none;
            }
            img {
              width: 12px!important;
            }
          }
          @media #{$sm} {
            display: none;
            &.img {
              width: 41px;
              height: 41px;
              flex-direction: row;
              justify-content: center;
              align-content: center;
              align-items: center;
              background-color: $color-2;
              position: absolute;
              top: 0px;
              &.tel {
                left: 0px;
                border-right: 1px solid rgba($white, 0.25);
              }
              &.mail {
                left: 42px;
              }
              &.location {
                left: 84px;
                border-right: 1px solid rgba($white, 0.25);
              }
              img {
                height: 18px;
              }
            }
          }
        }
        span.rdnt-joiner {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          flex-wrap: nowrap; 
          @media #{$sm} {
            display: none;
          }
          a.rdnt-new-nav-a {
            color: $white;
            cursor: pointer;
            text-decoration: none;
            font: {
              size: 12px;
              weight: 400;
            }
            img {
              margin-right: 5px;
            }
            &:first-of-type {
              margin-right: 5px;
            }
          }
        }
      }
      &.active {
        border-radius: 10px 10px 0px 0px;
        margin-top: -100%!important;
        &:hover {
          margin-top: -100%!important;
          border-radius: 10px 10px 0px 0px;
        }
        @media #{$sm} {
          margin-top: 0px!important;
          border-radius: 0px 0px 0px 0px!important;
          padding-left: 136px!important;
          border: 0px;
          max-width: initial;
          width: 100%;
          margin-right: 0px!important;
          margin-left: 0px!important;
          position: absolute;
          bottom: -4px;
          left: 0px;
          &:hover {
            margin-top: 0px!important;
            padding-left: 136px!important;
            margin-right: 0px!important;
            margin-left: 0px!important;
          }
          a.rdnt-new-nav-a.img {
            display: flex!important;
            img {
              height: 18px!important;
              width: auto!important;
            }
          }
        }
        p.rdnt-new-nav-p {
          display: flex;
          @media #{$sm}{
            display: flex;
            position: absolute;
            top: 0px;
            left: 0px;
          }
        }
        h2.rdnt-new-nav-h2 {
          text-transform: uppercase;
          padding-bottom: 10px;
          @media #{$sm}{
            text-align: left;
            margin-left: 10px;
            padding-bottom: 0px;
          }
        }
        &:nth-of-type(1){
          background-color: $color-4;
        }
        &:nth-of-type(2){
          background-color: $color-5;
        }
        &:nth-of-type(3){
          background-color: $color-3;
        }
        &:nth-of-type(4){
          background-color: $color-6;
        }
        &:nth-of-type(5){
          background-color: $color-4;
        }
        &:nth-of-type(6){
          background-color: $color-5;
        }
        &:nth-of-type(7){
          background-color: $color-3;
        }
        &:nth-of-type(8){
          background-color: $color-6;
        }
        &:nth-of-type(9){
          background-color: $color-4;
        }
        &:nth-of-type(10){
          background-color: $color-5;
        }
      }
    }
  }
}

// NEW VENUES SECTION
section#venues-new.rdnt-venues-new-section {
  display: block;
  position: relative;
  min-height: 400px;
  overflow: hidden;
  .rdnt-venues-new-section-venue {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    min-height: 400px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 0;
    background: white;
    @include rdnt-animate;
    @media #{$sm}{
      flex-direction: column-reverse;
      min-height: initial;
    }
    &.active {
      display: flex;
      z-index: 1;
    }
    article.rdnt-venues-new-section-article {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;
      width: 50%;
      position: relative;
      @media #{$sm}{
        width: 100%;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
      }
      span.rdnt-venues-new-section-span {
        display: block;
        margin-bottom: 30px;
        color: $color-6;
        padding-bottom: 10px;
        min-width: 250px;
        border-bottom: 1px solid #37A8D2;
        font: {
          family: 'Lato', sans-serif;
          size: 18px;
          weight: 300;
        }
        text-align: center;
        @media #{$sm}{
          margin-bottom: 5px;
        }
      }
      h1.rndt-venues-new-section-h1 {
        display: block;
        margin-bottom: 20px;
        color: $color-2;
        font: {
          family: 'Lato', sans-serif;
          size: 32px;
          weight: 600;
        }
        text-align: center;
        text-transform: capitalize;
      }
      .rdnt-venues-new-section-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        a, a:hover, a:focus, a:visited {
          cursor: pointer;
          color: $color-6;
          font: {
            family: 'Lato', sans-serif;
            size: 14px;
            weight: 400;
          }
          text: {
            align: center;
            decoration: none;
          }
          span {
            color: $color-6;
            font: {
              family: 'Lato', sans-serif;
              size: 14px;
              weight: 600;
            }
            text: {
              align: center;
              decoration: none;
            }
          }
        }
        .rdnt-joiner {
          display: flex;
          flex-direction: row;
          justify-content: center;
          @media #{$sm}{
            flex-direction: column;
          }
          span {
            color: $color-6;
            margin-right: 5px;
            &:last-of-type{
              margin-right: 0px;
            }
            font: {
              family: 'Lato', sans-serif;
              size: 14px;
              weight: 600;
            }
            text: {
              align: center;
              decoration: none;
            }
            a {
              cursor: pointer;
              color: $color-6;
              font: {
                family: 'Lato', sans-serif;
                size: 14px;
                weight: 400;
              }
              text: {
                align: center;
                decoration: none;
              }
            }
          }
        }
        .flex-row.center.more {
          margin-top: 10px;
          @media #{$sm}{
            flex-direction: column;
          }
          a {
            border: 1px solid $color-6;
            border-radius: 16px;
            padding: 6px 12px 6px 12px;
            background-color: $color-6;
            color: $white;
            font: {
              family: 'Lato', sans-serif;
              size: 14px;
              weight: 600;
            }
            text: {
              align: center;
              transform: uppercase;
            }
            &:first-of-type{
              margin-right: 5px;
            }
            @media #{$sm}{
              width: 200px;
              box-sizing: border-box;
              &:first-of-type{
                margin-right: 0px;
                margin-bottom: 5px;
              }
            }
            @include rdnt-animate;
            &:hover {
              background-color: $white;
              color: $color-6;
            }
          }
        }
      }
    }
    article.rdnt-venues-new-section-image {
      width: 40%;
      min-height: 400px;
      height: 100%;
      box-sizing: border-box;
      position: relative;
      background: {
        color: gray;
        //image: url('http://placekitten.com/1000/1000');
        size: cover;
        position: center;
        repeat: no-repeat;
      }
      @media #{$sm}{
        min-height: 300px;
        height: auto;
        width: 100%;
      }
      img {
        height: calc(100% + 4px);
        width: auto;
        position: absolute;
        left: -2px;
        top: -2px;
        @media #{$sm}{
          display: none;
        }
      }
    }
  }
}


//MODAL 

.rdnt-venue-new-modal-bg {
  width: 100vw;
  height: 100vh;
  background-color: rgba($black, 0.75);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 30;
  display: none;
}

.rdnt-venue-new-modal-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 31;
  top: 0px;
  left: 0px;
}

.rdnt-venue-new-modal {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  .rdnt-venue-new-modal {
    background-color: $white;
    border-radius: 10;
    padding: 20px;
    max-width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    position: relative;
    @media #{$sm}{
      max-width: 320px;
    }
    button.rdnt-venue-new-modal-close {
      width: 28px;
      height: 28px;
      position: absolute;
      right: 20px;
      top: 20px;
      cursor: pointer;
      border: 0;
      background-color: transparent;
      img {
        width: 14px;
      }
    } 
    h4.rdnt-venue-new-modal-h4 {
      font: {
        size: 24px;
        weight: 600;
        family: 'Lato', sans-serif;
      }
      color: $color-3;
      margin-bottom: 20px;
      @media #{$sm}{
        font-size: 18px;
      }
    }
    .rdnt-venue-list-modal {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      align-items: center;
      flex-wrap: wrap;
      @media #{$sm} {
        width: 290px;
        flex-direction: column;
        align-items: flex-start;
        max-height: 300px; 
        overflow-y: auto;
        overflow-x: hidden;
        flex-wrap: nowrap;
      }
      a.rdnt-venue-new-option{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: flex-start;
        align-items: center;
        margin: 10px;
        @media #{$sm} {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-content: center;
          justify-content: flex-start;
          min-height: 32px;
        }
        .rdnt-venue-new-photo {
          width: 96px;
          height: 96px;
          border-radius: 100%;
          border: 3px solid $color-1;
          overflow: hidden;
          flex-direction: row;
          justify-content: center;
          align-content: center;
          align-items: center;
          @media #{$sm} {
            width: 32px;
            height: 32px;
            border: 2px solid $color-1;
            min-width: 32px;
            min-height: 32px;
          }
          img {
            width: 150px;
            height: auto;
            @media #{$sm} {
              width: 50px;
            }
          }
        }
        h5.rndt-venue-new-modal-h5 {
          margin-top: 5px;
          font: {
            size: 14px;
            weight: 400;
            family: 'Lato', sans-serif;
          }
          color: $color-2;
          text: {
            align: center;
            transform: capitalize;
          }
          width: 150px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          @media #{$sm}{
            font-weight: 500;
            margin-left: 10px;
            max-width: 210px;
          }
        }
      }
    }
    a.rdnt-button-new-reserve {
      margin-top: 20px;
      padding: 10px 20px 10px 20px;
      font: {
        size: 14px;
        weight: 500;
      }
      cursor: pointer;
      color: $white;
      background-color: $color-3;
      @include rdnt-animate;
      text-align: center;
      border: 0;
      border-radius: 30px;
      text-decoration: none;
      &:hover {
        background-color: lighten($color-3, 10%);
        color: $white;
        text-decoration: none;
      }
      &:visited, &:focus {
        color: $white;
        text-decoration: none;
      }
    }
  }
}