- var i = 0
doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    title Rident - Todos merecen sonreír
    meta(content="clinica y consulta dental" name="description")
    meta(content="dental, consulta, clinica, ortodoncia, endodoncia, frenillos, puente alto, providencia" name="keywords")
    meta(content="Gricel Sepulveda" name="author")
    // VIEWPORT RESPONSIVE
    meta(content="width=device-width, initial-scale=1, user-scalable=no" name="viewport")
    // NORMALIZE
    link(href="./common/styles/sanitize.css" rel="stylesheet" type="text/css")
    // FONT AWESOME
    script(src="https://use.fontawesome.com/releases/v5.0.1/js/all.js")
    // STYLES BANNER UNSLIDER
    link(href="./common/styles/unslider.css" rel="stylesheet" type="text/css")
    // STYLES
    link(href="../styles/rdnt-landing.css" rel="stylesheet" type="text/css")
    // JQUERY
    script(src="./common/js/jquery-3.2.1.min.js")
    // CUSTOM SCRIPTS
    script(src="./common/js/smooth-scroll.min.js")
    script(src="./common/js/rdnt-landing.js")
    // BANNER ROTATOR
    script(src="./common/js/unslider-min.js")
  body
    .rdnt-wrapper-page

      // MENU
      nav.rdnt-menu-nav
        .rdnt-mobile-trigger
          i.fas.fa-bars
        .rdnt-logo
          a(href="#")
            img(src="./common/assets/img/logo-rident.svg")
        ul.rdnt-menu.display
          li.rdnt-menu-li.active
            a(data-scroll="" href="#home") Inicio
            .rdnt-caret
          li.rdnt-menu-li
            a(data-scroll="" href="#especialities") Especialidades
            .rdnt-caret
          li.rdnt-menu-li
            a(data-scroll="" href="#promotions") Promociones
            .rdnt-caret
          li.rdnt-menu-li
            a(data-scroll="" href="#venues-new") Sedes
            .rdnt-caret
          li.rdnt-menu-li
            a(data-scroll="" href="#us") Nosotros
            .rdnt-caret
          li.rdnt-menu-li
            a(data-scroll="" href="#partners") Alianzas
            .rdnt-caret
          li.rdnt-menu-li
            a(data-scroll="" href="#enterprise") Convenios
            .rdnt-caret
        span.rdnt-open !{config["Otros"][0].horario}
      .rdnt-reservation
        span.rdnt-reservation-new(onclick="openNewVenueSelectionReserveModal();")
          span.rdnt-icon
            i.far.fa-calendar-alt
          | Reserva tu hora
        span.rdnt-text
          | Consulta tus reservas
          a acá

      // HOME
      section#home.rdnt-home
        // HOME BANNER
        .rdnt-banner-home.rdnt-banner-home-slider
          ul.rdnt-banner-home-ul
            - i = 1
            each ini in config['Inicio'] 
              li.rdnt-banner-home-li(style={
                'background-image': 'url(' + imagePath + ini.imagen + ')'
              })
                article.rdnt-banner-caption 
                  h4.rdnt-banner-h4 !{ini.titulo} 
                  p.rdnt-banner-p !{ini.texto} 
                  a(href=ini.enlaceboton) 
                    button.rdnt-banner-button(type="button") !{ini.textoboton} 
              - i += 1

      // NAV VENUES HOME
      nav.rdnt-new-nav-venues
        p.rdnt-new-nav-venues-title Cambiar sede:
        ul.rdnt-new-nav-venues-ul
          // ESTO ES UNA SEDE A ITERAR
          - i = 0
          each sede in config['Sedes']
            - i += 1     
            if (i == 1)    
              li.rdnt-new-nav-venues-li.active
                h2.rdnt-new-nav-h2 !{sede.nombre} 
                p.rdnt-new-nav-p
                  a.rdnt-new-nav-a.img.tel(href='tel:+56' + sede.celular)
                    img(src='./common/assets/img/phone.svg')       
                  span.rdnt-joiner
                    a.rdnt-new-nav-a(href='tel:+56' + sede.telefono)
                      span +56
                      | !{sede.telefono}         
                    a.rdnt-new-nav-a(href='tel:+56' + sede.celular)
                      span +56
                      | !{sede.celular}      
                p.rdnt-new-nav-p
                  a.rdnt-new-nav-a.img.mail(href='mailto:' + sede.correo)
                    img(src='./common/assets/img/email.svg')       
                  a.rdnt-new-nav-a(href='mailto:' + sede.correo)
                    | !{sede.correo}
                p.rdnt-new-nav-p
                  a.rdnt-new-nav-a.img.location(href=sede.enlace, target='_blank' )
                    img(src='./common/assets/img/location.svg')        
                  a.rdnt-new-nav-a(href=sede.enlace target="blank")
                    | !{sede.direccion}
            else
              li.rdnt-new-nav-venues-li
                h2.rdnt-new-nav-h2 !{sede.nombre} 
                p.rdnt-new-nav-p
                  a.rdnt-new-nav-a.img.tel(href='tel:+56' + sede.celular)
                    img(src='./common/assets/img/phone.svg')       
                  span.rdnt-joiner
                    a.rdnt-new-nav-a(href='tel:+56' + sede.telefono)
                      span +56
                      | !{sede.telefono}         
                    a.rdnt-new-nav-a(href='tel:+56' + sede.celular)
                      span +56
                      | !{sede.celular}      
                p.rdnt-new-nav-p
                  a.rdnt-new-nav-a.img.mail(href='mailto:' + sede.correo)
                    img(src='./common/assets/img/email.svg')       
                  a.rdnt-new-nav-a(href='mailto:' + sede.correo)
                    | !{sede.correo}   
                p.rdnt-new-nav-p
                  a.rdnt-new-nav-a.img.location(href=sede.enlace, target='_blank' )
                    img(src='./common/assets/img/location.svg')        
                  a.rdnt-new-nav-a(href=sede.enlace target="blank")
                    | !{sede.direccion}

      //NEW VENUES SECTION
      section#venues-new.rdnt-venues-new-section
        - i = 0
        each sede in config['Sedes']
          - i += 1     
          if (i == 1)  
            .rdnt-venues-new-section-venue.active
              article.rdnt-venues-new-section-article
                span.rdnt-venues-new-section-span Nuestras Sedes
                h1.rndt-venues-new-section-h1 !{sede.nombre} 
                .rdnt-venues-new-section-list 
                  a(href=sede.enlace, target='_blank' )
                    span Dirección: 
                    | !{sede.direccion}
                  .rdnt-joiner
                    span Teléfono: 
                      a(href='tel:+56' + sede.telefono)
                        | !{sede.telefono}  
                    span Celular: 
                      a(href='tel:+56' + sede.celular)
                        | !{sede.celular} 
                  .flex-row.center.more
                    a(href="/sedes/" + sede.nombre)
                      | Ver más de esta sede
                    a(href=sede.enlaceReserva)
                      | Reserva en esta sede
              article.rdnt-venues-new-section-image(style={
                  'background-image': 'url(' + imagePath + sede.imagen + ')'
                })
                img(src='./common/assets/img/overlay-cut.svg')
          else  
            .rdnt-venues-new-section-venue
              article.rdnt-venues-new-section-article
                span.rdnt-venues-new-section-span Nuestras Sedes
                h1.rndt-venues-new-section-h1 !{sede.nombre} 
                .rdnt-venues-new-section-list 
                  a(href=sede.enlace, target='_blank' )
                    span Dirección: 
                    | !{sede.direccion}
                  .rdnt-joiner
                    span Teléfono: 
                      a(href='tel:+56' + sede.telefono)
                        | !{sede.telefono}  
                    span Celular: 
                      a(href='tel:+56' + sede.celular)
                        | !{sede.celular}
                  .flex-row.center.more
                    a(href="/sedes/" + sede.nombre)
                      | Ver más de esta sede
                    a(href=sede.enlaceReserva)
                      | Reserva en esta sede
              article.rdnt-venues-new-section-image(style={
                  'background-image': 'url(' + imagePath + sede.imagen + ')'
                })
                img(src='./common/assets/img/overlay-cut.svg')


      // PROMOTIONS
      section#promotions.rdnt-promotions
        h3.rdnt-h3 ¡Flexibilidad de pago y urgencias 24/7!
        .rdnt-banner-promo-slider
          ul.rdnt-banner-promo-slider-ul
            - i = 0
            each promo in config['Promociones']
              - i += 1
              li.rdnt-banner-promo-slider-li
                .rdnt-banner-promo(style={
                    'background-image': 'url(' + imagePath + promo.imagen + ')'
                  })
                  .rdnt-banner-photo-wrapper
                    .rdnt-banner-photo(style={
                      'background-image': 'url(' + imagePath + promo.imagen + ')'
                    })
                    article.rdnt-banner-promo-art
                      h2.rdnt-banner-promo-h2 !{promo.titulo}
                      h1.rdnt-banner-promo-h1 !{promo.subtitulo}
                      .flex-row.center
                        .rdnt-banner-promo-ul
                          .rdnt-banner-promo-li !{promo.texto}
                        a(href=promo.enlaceboton target="blank")
                          span.rdnt-banner-promo-price !{promo.textoboton}

      // ESPECIALITIES
      section#especialities.rdnt-especialities
        h3.rdnt-h3
          span Especialidades: 
            | Cubrimos todas tus necesitades de salud y belleza dental
        - i = 0
        while i < config['Especialidades'].length
          - var esp = config['Especialidades'][i]
          - var esp2 = config['Especialidades'][i + 1]
            .flex-row.center
              if (esp)
                .rdnt-wrapper-especialities
                  article.rdnt-especialities-article
                    .rdnt-especialities-picture
                      img(src= imagePath + esp.icono)
                    .flex-column.start
                      h2.rdnt-especialities-h2= esp.titulo
                        img(src="./common/assets/img/subline.svg")
                      p.rdnt-especialities-p !{esp.texto}
                      a(href="/especialidades/" + esp.titulo)
                        button(class="rdn-especialities-button" type="button")=esp.textoboton
              if (esp2)
                .rdnt-wrapper-especialities
                  article.rdnt-especialities-article
                    .rdnt-especialities-picture
                      img(src= imagePath + esp2.imagen)
                    .flex-column.start
                      h2.rdnt-especialities-h2= esp2.titulo
                        img(src="./common/assets/img/subline.svg")
                      p.rdnt-especialities-p !{esp2.texto}
                      a(href="/especialidades/" + esp2.titulo)
                        button(class="rdn-especialities-button" type="button")=esp2.textoboton
          - i += 2

      // US
      section#us.rdnt-us
        .rdbt.in-works-advice
        h3.rdnt-h3 Nosotros: Conoce a las personas que te recibirán en Rident
        .rdnt-us-banner-slider
          ul
            - i = 0
            each us in config['Nosotros']
              - i += 1
              li
                .rdnt-wrapper-us
                  .rdnt-slider-us
                    .flex-row.between
                      .flex-row.start
                        .rdnt-us-picture(style={'background-image':' url(' + imagePath + us.imagen  + ')'})
                          img(src=imagePath + us.imagen)
                        .flex-col.start
                          h2.rdnt-us-h2
                            | !{us.nombre}
                            img(src="./common/assets/img/subline.svg")
                          p.rdnt-us-p
                            | Especializa en:
                            br
                            | !{us.especialidad}
                            br
                            br
                            | Atiende en:
                            br
                            | !{us.sede}
                      p.rdnt-us-quote
                        | !{us.texto}

      h4.rdnt-h4-partners Nuestras Alianzas
      section#partners.rdnt-partners(style={'background-image':' url(' + imagePath + config['Otros'][0]['alianzaImagenFondo'] + ')'})

        // IMAGE DESKTOP
        .rdnt-partners-desktop-img(style={'background-image':' url(' + imagePath + config['Otros'][0]['alianzaImagenFondo']  + ')'})


        // ROTATOR
        .rdnt-partners-rotator
          .rdnt-partners-line
          .rdnt-rotator-box-img-wrapper 
            .rdnt-rotator-box-img
              // BRAND LOGO 1
              - i = 0
              each alianza in config['Alianzas']
                - i += 1
                if (i == 1)  
                  .rdnt-partner-brand-box.active
                    .rdnt-partner-brand
                      img(src=imagePath + alianza.imagenFondo)
                else 
                  .rdnt-partner-brand-box
                    .rdnt-partner-brand
                      img(src=imagePath + alianza.imagenFondo)
          // TEXT ROTATOR
          .rdnt-rotator-box-text-wrapper
            .rdnt-rotator-box-text
              // BRAND TEXT 1
              - i = 0
              each alianza in config['Alianzas']
                - i += 1
                if (i == 1)  
                  .rdnt-brand-text.active
                    a(href=alianza.enlace, target='_blank' )
                      h5.rdnt-partner-name !{alianza.marca}
                    h6.rdnt-partner-title !{alianza.beneficiario}
                    div.rdnt-partner-description !{alianza.descripcion}
                else
                  .rdnt-brand-text
                    a(href=alianza.enlace, target='_blank' )
                      h5.rdnt-partner-name !{alianza.marca}
                    h6.rdnt-partner-title !{alianza.beneficiario}
                    dv.rdnt-partner-description !{alianza.descripcion}
      // ENTERPRISE
      section#enterprise.rdnt-enterprise
        each convenio in config['Convenios']
          h3.rdnt-h3 Convenios para empresas
          ul.rdnt-enterprise-banner-ul
            li.rdnt-enterprise-banner-li(style={
                'background-image':' url(' + imagePath + convenio.imagen  + ')'
              })
              article.rdnt-enterprise-article
                h3.rdnt-enterprise-h3 !{convenio.titulo}
                p.rdnt-enterprise-p !{convenio.texto}
                .flex-row.start.enterprise-list
                  .flex-column
                    ul
                      li
                        img(src="./common/assets/img/icon-li.svg") 
                        | !{convenio.beneficio1}
                      li
                        img(src="./common/assets/img/icon-li.svg") 
                        | !{convenio.beneficio2}
                      li
                        img(src="./common/assets/img/icon-li.svg") 
                        | !{convenio.beneficio3}
                      li
                        img(src="./common/assets/img/icon-li.svg") 
                        | !{convenio.beneficio4}
                  .flex-column
                    ul
                      li
                        img(src="./common/assets/img/icon-li.svg") 
                        | !{convenio.beneficio5}
                      li
                        img(src="./common/assets/img/icon-li.svg") 
                        | !{convenio.beneficio6}
                      li
                        img(src="./common/assets/img/icon-li.svg") 
                        | !{convenio.beneficio7}
                      li
                        img(src="./common/assets/img/icon-li.svg") 
                        | !{convenio.beneficio8}
                a(href="./docs/"+convenio.pdf+".pdf" target="blank")
                  button.rdnt-enterprise-button(type="button") !{convenio.textoboton}

      // FOOTER
      section#footer.rdnt-footer
        img(src="./common/assets/img/logo-rident-2.svg")
        nav.rdnt-footer-nav
          a(href="https://www.facebook.com/clinicarident/")
            img(src="./common/assets/img/facebook.svg")
            | fb.com/rident
          a(href="mailto:contacto@rident.cl")
            img(src="./common/assets/img/mail.svg")
            | contacto@rident.cl
      .rdnt-modal-bg

      // SPECIALITIES MODAL
      - i = 0
      each esp in config['Especialidades']
        - i += 1
        div(class='rdnt-wrapper-modal-especialities modal-especialities-' + i + ' display-none')
          .rdnt-modal-especialities
            span.rdnt-close-modal
              i.fas.fa-times
            h3 !{esp.titulo}
            .rdnt-banner-modal-especialities(style={
              'background-image': 'url(' + imagePath + esp.icono + ')'
            })
            .rdnt-modal-text-body
              p.rdnt-modal-p !{esp.descripcion}

      .rdnt-venue-new-modal-bg
      // RESERVE MODAL NEW
      .rdnt-venue-new-modal-wrapper.reserve-modal.display-none
        .rdnt-venue-new-modal
          .rdnt-venue-new-modal
            button.rdnt-venue-new-modal-close(onclick="closeNewVenueSelectionReserveModal();")
              img(src="./common/assets/img/close.svg")
            h4.rdnt-venue-new-modal-h4 Reservar en sede:
            .rdnt-venue-list-modal
              each sede in config['Sedes']
                a.rdnt-venue-new-option(href=sede.enlaceReserva, target="_blank")
                  .rdnt-venue-new-photo
                    img(src=imagePath + sede.imagen)
                  h5.rndt-venue-new-modal-h5 !{sede.nombre}
    
      // JAVASCRIPT FOR SMOOTH SCROLLLING EFFECT
      script.
        var scroll = new SmoothScroll('a[href*="#"]');
      // JAVACRIPT FOR SLIDER
      script.
        jQuery(document).ready(function ($) {
        $('.rdnt-banner-home-slider').unslider();
        });
        var slider = $('.rdnt-banner-home-slider').unslider({
        autoplay: true,
        delay: 5000,
        animation: 'fade'
        });
        var sliderPromo = $('.rdnt-banner-promo-slider').unslider({
        autoplay: true,
        delay: 5000,
        animation: 'horizontal'
        });
        var sliderVenue = $('.banner-venues-roll').unslider({
        autoplay: true,
        delay: 5000,
        animation: 'fade'
        });
        var sliderUs = $('.rdnt-us-banner-slider').unslider({
        autoplay: true,
        delay: 5000,
        animation: 'vertical'
        });

      // JAVASCRIPT FOR CHAT
      script.
        var Tawk_API = Tawk_API || {},
        Tawk_LoadStart = new Date();
        (function () {
        var s1 = document.createElement("script"),
        s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/5a39bce7bbdfe97b137fc6ee/default';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
        })();
