nav.rdnt-new-nav-venues
  p.rdnt-new-nav-venues-title Elie tu sede:
    |   
    ul.rdnt-new-nav-venues-ul
      // ESTO ES UNA SEDE A ITERAR
      li.rdnt-new-nav-venues-li
        h2.rdnt-new-nav-h2 !{sede.nombre}
        |       
        p.rdnt-new-nav-p
          a.rdnt-new-nav-a.image.phone(href='tel:+56' + sede.celular)
            img(src='./common/assets/img/phone.svg')
          |         
          span.rdnt-joiner
            a.rdnt-new-nav-a(href='tel:+56' + sede.telefono)
              span +56
              | !{sede.telefono}
            |           
            a.rdnt-new-nav-a(href='tel:+56' + sede.celular)
              span +56
              | !{sede.celular}
        |       
        p.rdnt-new-nav-p
          a.rdnt-new-nav-a.img.mail(href='mailto:' + sede.correo)
            img(src='./common/assets/img/mail.svg')
          |         
          a.rdnt-new-nav-a(href='mailto:' + sede.correo)
            | !{sede.correo}
        |       
        p.rdnt-new-nav-p
          a.rdnt-new-nav-a.img.location(href=sede.enlace, target='_blank' )
            img(src='./common/assets/img/location.svg')
          |         
          a.rdnt-new-nav-a(href=sede.enlace target="blank")
            | !{sede.direccion}