- var i = 0

doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    title Rident - Todos merecen sonreír
    meta(content="clinica y consulta dental" name="description")
    meta(content="dental, consulta, clinica, ortodoncia, endodoncia, frenillos, puente alto, providencia" name="keywords")
    meta(content="Gricel Sepulveda" name="author")
    // VIEWPORT RESPONSIVE
    meta(content="width=device-width, initial-scale=1, user-scalable=no" name="viewport")
    // NORMALIZE
    link(href="/common/styles/sanitize.css" rel="stylesheet" type="text/css")
    // FONT AWESOME
    script(src="https://use.fontawesome.com/releases/v5.0.1/js/all.js")
    // STYLES BANNER UNSLIDER
    link(href="/common/styles/unslider.css" rel="stylesheet" type="text/css")
    // STYLES
    link(href="/styles/rdnt-landing.css" rel="stylesheet" type="text/css")
    // JQUERY
    script(src="/common/js/jquery-3.2.1.min.js")
    // CUSTOM SCRIPTS
    script(src="/common/js/rdnt-landing.js")
    script(src="/common/js/smooth-scroll.min.js")
    
  body
    .rdnt-wrapper-page

      // MENU
      nav.rdnt-menu-nav
        .rdnt-mobile-trigger
          i.fas.fa-bars
        .rdnt-logo
          a(href="#")
            img(src="/common/assets/img/logo-rident.svg")
        ul.rdnt-menu.display
          li.rdnt-menu-li.active
            a(data-scroll="" href="http://www.rident.cl") Inicio
            .rdnt-caret
          li.rdnt-menu-li
            a(data-scroll="" href="http://www.rident.cl") Especialidades
            .rdnt-caret
          li.rdnt-menu-li
            a(data-scroll="" href="http://www.rident.cl") Promociones
            .rdnt-caret
          li.rdnt-menu-li
            a(data-scroll="" href="http://www.rident.cl") Sedes
            .rdnt-caret
          li.rdnt-menu-li
            a(data-scroll="" href="http://www.rident.cl") Nosotros
            .rdnt-caret
          li.rdnt-menu-li
            a(data-scroll="" href="http://www.rident.cl") Convenios
            .rdnt-caret
        span.rdnt-open Abierto Lun-Sab 9:00-20:00hrs 
      .rdnt-reservation
        span.rdnt-reservation-new
          span.rdnt-icon
            i.far.fa-calendar-alt
          | Reserva tu hora
        span.rdnt-text
          | Consulta tus reservas
          a acá

      // VENUES PAGE
      section#venues.rdnt-venues-page
        .banner-venues-roll
          ul.banner-venues-ul
              li.banner-venues-li.venues-banner-1
                .flex-row.center
                  .rdnt-venue
                    .flex-column.center
                      h2.rdnt-venues-h2 Galería
                      h1.rdnt-venues-h1 !{sede.nombre}
                      .rdnt-venues-directinons-ul
                        .rdnt-venues-directions-li
                          span Dirección:
                          | !{sede.direccion}
                        .rdnt-venues-directions-li
                          span Teléfono: 
                          | +56 !{sede.telefono}
                          span  Celular: 
                          | +56 !{sede.celular}
                      .flex-row.center
                        a(href=sede.enlaceReserva)
                          | Reserva en esta sede
                      .rdnt-venues-gallery
                        .rdnt-venues-box-img.thumb-banner-img-1.active
                          img(src=imagePath + sede.imagen)
                        .rdnt-venues-box-img.thumb-banner-img-2
                          img(src=imagePath + sede.imagen2)
                        .rdnt-venues-box-img.thumb-banner-img-3
                          img(src=imagePath + sede.imagen3)
                        .rdnt-venues-box-img.thumb-banner-img-4
                          img(src=imagePath + sede.imagen4)
                    .rdnt-wrapper-venues-gallery
                      .rdnt-venue-banner-img.banner-img-1.active(style={
                        'background-image': 'url(' + imagePath + sede.imagen + ')'
                      })
                      .rdnt-venue-banner-img.banner-img-2(style={
                        'background-image': 'url(' + imagePath + sede.imagen2 + ')'
                      })
                      .rdnt-venue-banner-img.banner-img-3(style={
                        'background-image': 'url(' + imagePath + sede.imagen3 + ')'
                      })
                      .rdnt-venue-banner-img.banner-img-4(style={
                        'background-image': 'url(' + imagePath + sede.imagen4 + ')'
                      })

      // FOOTER
      section#footer.rdnt-footer
        img(src="/common/assets/img/logo-rident-2.svg")
        nav.rdnt-footer-nav
          a(href="https://www.facebook.com/clinicarident/")
            img(src="/common/assets/img/facebook.svg")
            | fb.com/rident
          a(href="mailto:contacto@rident.cl")
            img(src="/common/assets/img/mail.svg")
            | contacto@rident.cl
      .rdnt-modal-bg


      // VENUE SELECTION MODAL
      .rdnt-wrapper-modal-venue.display-none
        .rdnt-modal-venue
          span.rdnt-close-modal
            i.fas.fa-times
          h3 Reserva en:
          .flex-row
            - i = 0
            each sede in config['Sedes']
              - i += 1
              .flex-column
                a(href=sede.enlaceReserva)
                  h5.rdnt-h5.sede-1 !{sede.nombre}
                  .rdnt-venue-img.venue-1(style={
                    'background-image': 'url(' + imagePath + 'sede' + i + 'imagen)'
                  })

      // VENUE TAKEN SELECTION MODAL
      .rdnt-wrapper-modal-venue-taken.display-none
        .rdnt-modal-venue
          span.rdnt-close-modal
            i.fas.fa-times
          h3 Reservaste en:
          .flex-row
            .flex-column
              a(href="https://www.reservo.cl/makereserva/selecttratamiento1/404/403/2/1/")
                h5.rdnt-h5.sede-1 Sede Tobalaba
                .rdnt-venue-img.venue-1(style={
                  'background-image': 'url("/common/assets/img/banner-2.jpg")'
                })
            .flex-column
              a(href="https://www.reservo.cl/makereserva/selecttratamiento1/28/26/2/1/")
                h5.rdnt-h5.sede-2 Sede Salvador
                .rdnt-venue-img.venue-2(style={
                  'background-image':' url("/common/assets/img/banner-2.jpg")'
                })
            .flex-column
              a(href="https://www.reservo.cl/makereserva/selecttratamiento1/207/224/2/1/")
                h5.rdnt-h5.sede-3 Sede Pte. Alto
                .rdnt-venue-img.venue-3(style={
                  'background-image': 'url("/common/assets/img/banner-2.jpg")'
                })

      // JAVASCRIPT FOR SMOOTH SCROLLLING EFFECT
      script.
        var scroll = new SmoothScroll('a[href*="#"]');

      // JAVASCRIPT FOR CHAT
      script.
        var Tawk_API = Tawk_API || {},
        Tawk_LoadStart = new Date();
        (function () {
        var s1 = document.createElement("script"),
        s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/5a39bce7bbdfe97b137fc6ee/default';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
        })();
